@font-face {
    font-family: Trirong;
    src: url(Trirong-Thin.woff);
}

html {
    font-family: Trirong;
}



.nav {
    list-style-type: none;
    overflow: hidden; 
  }
ul {
    margin: 0;
    padding: 0;
    background-color: darkgreen;
  }

  li {
    float: left;
  }
  
  li a {
    display: block;
    text-align: center;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
  }
  
  li a:hover {
    background-color: rgb(68, 138, 68);
  }
  