html {
    color: azure;
    background-image: linear-gradient(to bottom right, midnightblue    ,darkgreen);
    justify-content: space-evenly;
}
main {
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: azure;
    text-align: center;
    padding: 15px 5px 15px 5px; 
justify-content: space-around;
}    
.title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    text-shadow: 1px 1px 2px black, 0 0 25px darkred, 0 0 5px darkblue;
    color: antiquewhite;
    background-color: indigo transparent(20,20,20,20);
}

.nav {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:azure;
    text-decoration-style: solid;
    list-style-type: none;
    padding: 5px 5px 5px 5px; 
    position: sticky;
    top: 0px;
    
}

a {
    color: aquamarine;
    text-decoration: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border: 2px solid #4CAF50;
    display: block;
    padding: 8px;
}
a:hover {
text-decoration: underline;
text-transform: uppercase;
}

a:active {
    color: bisque;
} 
ul {
    text-align: left;
}
p {
    color: aliceblue;
    background-color: rgb(35, 65, 35); 
    text-align: justify;
    box-sizing: border-box center;
    width: 80%;
    border-radius: 10px;
    padding: 15px;
    content: 30px;
    margin: auto;

}
h2, h3 {
    text-shadow: 2px 2px 2px darkred;
}
table {
    width: 100%;
    border: 2px solid;
    border-color: bisque;
}
th, td {
    border: 1px solid;
}
tr:hover {
background-color: midnightblue;
}
.inTable {
    list-style-type: none
}